@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}
body {
  background-color: #f1f1f3;
}
/* banner style  */
.banner {
  width: 1280px;
  height: 560px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.banner-content b {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}

.banner-content h2 {
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  margin-top: 16px;
}

.banner-content button {
  width: 270px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  margin-top: 25px;
  cursor: pointer;
  transition: 0.4s linear;
}
.banner-content button:hover {
  color: black;
  border-radius: 0;
}

.banner-img img {
  width: 100%;
}

/* feature style  */
.feature {
  width: 1280px;
  height: fit-content;
  margin: auto;
  margin: 7rem auto;
}
.feature h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}

.feature p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 26px;
  margin-top: 30px;
}
.feature-cards .card .card-img {
  width: 62px;
  height: 62px;
}
.feature-cards .card {
  width: 410px;
  height: 300px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
}
.feature-cards .card h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 23px;
}
.feature-cards .card p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 14px;
}
.feature-cards .card button {
  border-radius: 8px;
  background: rgb(84, 144, 245);
  width: 122px;
  height: 41px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s linear;
}
.feature-cards .card button:hover {
  color: black;
}
.feature-cards .card .card-img img {
  width: 100%;
}

/* card bg 1 */
.feature-cards .card:nth-child(1) {
  background-color: rgba(84, 144, 245, 0.2);
}
.feature-cards .card:nth-child(1) button {
  background-color: rgb(84, 144, 245);
}
/* card bg 2 */
.feature-cards .card:nth-child(2) {
  background-color: rgb(198, 228, 214);
}
.feature-cards .card:nth-child(2) button {
  background-color: rgb(9, 161, 92);
}
/* card bg 2 */
.feature-cards .card:nth-child(3) {
  background: rgb(247, 235, 207);
}
.feature-cards .card:nth-child(3) button {
  background-color: rgb(255, 194, 57);
}

/* news  */
.news {
  width: 1280px;
  height: 550px;
  margin: 0 auto 7rem;
}
.news > h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}

.news > p {
  margin-top: 18px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.news-cards {
  width: 1280px;
  height: 402px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  gap: 32px;
  padding: 48px;
  margin-top: 32px;
}
.news-cards .news-img {
  flex: 34%;
  height: 310px;
}
.news-cards .news-img img {
  width: 100%;
  border-radius: 24px;
  height: 100%;
}

.news-cards .news-info {
  flex: 66%;
}

.news-info h1 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
}

.news-info img {
  width: 137px;
  height: 40px;
  margin-bottom: 14px;
}
.news-info > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.news-info button {
  width: 139px;
  height: 48px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  transition: 0.4s linear;
}
.news-info button:hover {
  color: black;
}
.news-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0;
}

/* donate */
.donate {
  width: 1280px;
  height: 464px;
  text-align: center;
  margin: 0 auto 5rem;
}
.donate h2 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.donate p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 40px;
  margin: auto;
}
.donner-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 3%;
  margin-top: 32px;
}
.donner-btns button {
  width: fit-content;
  height: 100px;
display: flex;
justify-content: center;
align-items: center;
  border-radius: 16px;
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  padding: 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  text-transform: capitalize;
}
.donate input {
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  text-align: center;
  margin: 34px 0;
}
.donate input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
}
.donate1 {
  width: 151px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s linear;
  margin-top: 20px;
}
.donate1:hover {
  color: black;
}
